<link rel="stylesheet" type="text/css" href="assets/css/slider.css">
 <meta name="viewport" content="width=device-width, initial-scale=1">
     <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div id="wowslider-container1">
<div class="slide_images">
		<span class="material-icons">arrow_back_ios</span>
		<span class="material-icons">arrow_forward_ios</span>
		<span class="material-icons">radio_button_unchecked</span>
		<span class="material-icons">radio_button_unchecked</span>
		<span class="material-icons">radio_button_unchecked</span>
		<span class="material-icons">radio_button_unchecked</span>
		<span class="material-icons">radio_button_unchecked</span>

	<ul>
		<li>
		<img src="assets/images/music/1.jpg" alt="Guitar" title="Guitar AT NIGHT" id="slider_1"/>
		</li>
		</li>
		<li>
		<img src="assets/images/music/2.jpg" alt="Piano" title="keyboardist" id="slider_2"/>
		</li>
		<li>
		<img src="assets/images/music/3.jpg" alt="THE SKY OVER THE SEA" title="THE SKY OVER THE SEA" id="slider_3"/>
		</li>
		<li>
		<img src="assets/images/music/4.jpg" alt="THE SKY OVER THE SEA" title="THE SKY OVER THE SEA" id="slider_4"/>
		</li>
		<li>
		<img src="assets/images/music/5.jpg" alt="THE SKY OVER THE SEA" title="THE SKY OVER THE SEA" id="slider_4"/>
		</li>
	</ul>
	</div>
