
li{
	list-style-type: none;
}
.slide_images img {
    width: 100%;
    height: 500px;
  }

.arrow-next{
	right:500px;
}
.rowbtns {
    padding: 10px;

    cursor: pointer;
} 
.right, .left{
	padding:20px;
	color:solid black;
	top:900px;
	cursor: pointer;
}
.right {
    float: right;
  }

  .active{
  	color:grey;
  }

  .slide_images {
    position: relative;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 15px #999;
  }

   .slide_images.ng-hide-add,
  .slide_images.ng-hide-remove {
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s;
    display: block !important;
  }

 .slide_images.ng-hide-add.ng-hide-add-active,
 .slide_images.ng-hide-remove {
    opacity: 0;
  }

  . .slide_images.ng-hide-add,
 .slide_images.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
  }
