.slide_container{
    position: relative;
    width: 90%;
    min-width: 490px;
    margin: auto;
  }

.slide {
   position: relative;
    width: 100%;
    overflow: hidden;
 }

  .slide_images {
    position: relative;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 15px #999;
     /*-webkit-animation: mymove 4s infinite;  
    animation: mymove 4s infinite;*/
    /* animation-delay: 2s;*/
  }
  .slide_images img {
 background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
  }

  /*@keyframes mymove {
    from {left: 0px;
    	}
    to {left: 200px;opacity: 0.6}
}*/
 .slide_arrow {
    position: absolute;
    top: 0px;
    left: 40px;
    width: 90%;
    z-index: 2;
    user-select: none;
    font-size: 0px;
  }

.left, .right{

	margin-top:300px;
	border-color: solid black;
	background-color: rgba(128,128,128,0.5);
	border-radius: 6px;
  padding: 10px;
	cursor: pointer;
	color:yellow;
}
.slide_arrow :hover{
  background-color:white;
    color:black;


  font-weight :bold;
}
.right{

float: right;
}
  .btn{
	width: 80%;
	margin-right: 44%;
    text-align: center;
    margin: auto;
 /* 	top:100px;
    position: relative;*/
    margin-left: 50px;
    }
    .active{
  	color:grey;
      background-color: black;
    border-radius: 3px;
  }
  .
.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
    transition: all linear 0.5s;
    display: block !important;
}

.animate-show.ng-hide-add.ng-hide-add-active, .animate-show.ng-hide-remove {
    opacity: 0;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}


  